html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #2a2a2a;
    overflow-y: scroll;
}

a {
    color:white;
}

header {
    color: white;
    background-color: #3a3a3a;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure header stays above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
}

header a{
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.searchbar {
    color: rgb(255, 255, 255);
    background-color: #9b9b9b;
    width: 400px;
    height: 20px;
    padding: 5px 15px;
    margin: 5px 0px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.20);
}

.main {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 150px;
    background-color: #3a3a3a;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0 0 0;
    top: 50px; /* Adjust based on your header height */
    z-index: 999; /* Below header */
}

.sidebar a {
    font-weight: bold;
    padding: 20px 10px 20px 30px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #5b5b5b;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #837944;
    color: white;
}

.content {
    padding: 20px;
    margin-left: 150px; /* Adjust based on sidebar width */
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 50px; /* Adjust this value based on your topbar height (inspect element) */


    /* enable background image on content
    background-image: url("images/story_private_room.png"); 
    background-color: rgba(29, 29, 29, 0.75);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    background-blend-mode: overlay;
    */
}

/* Media query for screens with less than "max-width: x" space */
@media screen and (max-width: 700px) {
    header {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
    }

    .main {
        flex-direction: column; 
        height: auto; 
    }
    
    .sidebar {
        flex-direction: row; 
        width: 100%; 
        height: auto; 
        justify-content: space-evenly; 
        padding: 10px 0; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
    }
    
    .sidebar a {
        margin: 0px;
        padding: 15px 10px;
    }

    .content {
        margin-left: 0px;
        margin-top: 119px; /* Adjust this value based on your topbar height (inspect element) */
    }
}